---
layout: default
---
<div class="intro">
  <p>I'm Justin Reardon, a software developer, cushion for my cat, amateur cook, and table-top role-playing game enthusiast. This site is mostly a collection of personal coding projects and notes.</p>
</div>
<div class="columns">
  {% for category in site.categories %}
  <div>
    <h2>{{ category[0] }}</h2>
    <ul>
    {% for post in category[1] %}
      <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a><br/>
        <span class="author_title">{{ post.date | date: "%B %e, %Y" }}</span>
      </li>
    {% endfor %}
    </ul>
  </div>
  {% endfor %}
  <div class="projects">
    <h2>Projects</h2>
    <ul>
      {% for project in site.projects %}
        <li><a href="{{ project.url}}">{{ project.title }}</a></li>
      {% endfor %}
    </ul>
  </div>
  </div>
