@media (prefers-color-scheme: dark) {
  body { background-color: #293742;}
}

.bp3-navbar-group > * + * {
  margin-left: 8px;
}

#layout-root {
  display: flex;
  flex-direction: column;
  margin: 8px;
}

#layout-root > * + * {
  margin: 8px 0px 0px 0px;
}

.weather-icon {
  text-align: center;
  align-self: center;
  font-size: 24px;
}

.spacer {
  flex-grow: 1;
}

.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: -4px;
  align-items: flex-start;
}

.card-grid > * {
  max-width: 400px;
  margin: 4px 4px 4px 4px;
  flex: 1 1 320px;
}

.full-width {
  flex-grow: 1;
  align-self: stretch;
}

.overflow-container {
  min-width: 0;
  flex-shrink: 3;
}

.report-line {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}

.report-line .time-title {
  width: 45px;
  text-align: right;
}

.report-line + .report-line {
  margin-top: 20px;
}

.card-grid h5 {
  margin: 0px 4px 0px 0px;
  white-space: nowrap;
}

.report-line > * + * {
  margin: 0px 0px 0px 8px;
}

.report-line h6 {
  margin: 0px 4px 2px 0px;
  white-space: nowrap;
}

.report-line > .temperature {
  width: 3em;
  text-align: right;
}

.report-line .as-of-time {
  align-self: baseline;
}

.report-line.forecast {
  margin-top: 4px;
}